<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="https://carpentries.typeform.com/to/wi32rS?slug=2021-11-29-leipzig-online">Pre-workshop survey</a> </td> <td></td> </tr>
      <tr> <td>Day 1</td>  <td>R for Reproducible Scientific Analysis</td><td><a href="https://github.com/babeheim/2021-11-29-leipzig-online/blob/gh-pages/day1_Intro_to_R.R">Day 1 History</a></td></tr>
      <tr> <td>Day 2</td>  <td>Version Control with Git</td><td><a href="https://github.com/babeheim/2021-11-29-leipzig-online/blob/gh-pages/day1_git_commands.txt">Day 2 History</a></td></tr>
      <tr> <td>Day 3</td>  <td>Data Manipulation in R and Visualization with `ggplot2`</td> </tr>
      <tr> <td>Day 4</td>  <td>Using R for Generative Simulation and Inference</td> </tr>      
      <tr> <td>Day 5</td>  <td>Advanced Data Manipulation with `dplyr` and `tidyr`; Reproducible Reports with RMarkdown</td> </tr>
      <tr> <td>After</td>  <td><a href="https://carpentries.typeform.com/to/UgVdRQ?slug=2020-11-23-leipzig-online" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
